[build]
builder = "NIXPACKS"

[deploy]
startCommand = "gunicorn main:app --workers 1 --timeout 120 --log-level debug --bind 0.0.0.0:$PORT"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
